<!DOCTYPE html>
<html>

<head>
    <title>Packer Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <meta charset='utf-8'>
</head>

<body>
    <h1>@Model.Name</h1>

    <form action="/List/@Model.Name/NewItem" method="get">
        <button type="submit">Add an item</button>
    </form>
    @using PackerTracker.Models;
    <ul>
        @foreach (PackItem packItem in @Model.PackingList)
        {
            <div>
                <span>@packItem.Name</span>
                <span>@packItem.Brand</span>
                <span>$@packItem.Price</span>
                <span>@packItem.Weight</span>
                <span>@packItem.IsPurchased</span>
                <span>@packItem.IsPacked</span>
            </div>
        }
    </ul>
</body>

</html>
